## AI 프로그래밍 기초 연습문제 풀이   
20230735 윤신웅

### 1번   
주어진 리스트 두개를 딕셔너리로 변환하는 함수를 작성하세요.   
이때, 첫번째 리스트의 값들은 딕셔너리의 키로, 두번째 리스트의 값은 딕셔너리의 값으로 사용됩니다.   
즉, 각 키에 대응되는 값은 대응되는 한글 뜻으로 매핑함

In [1]:
def list_to_dict(a, b):
    c = {}
    for i in range(len(a)):
        c[a[i]] = b[i]
    return c

a = ['apple', 'banana', 'cherry']
b = ['사과', '바나나', '체리']
result = list_to_dict(a, b)
print(result)

{'apple': '사과', 'banana': '바나나', 'cherry': '체리'}

### 2번   
1에서 100까지의 수 중에서 홀수만을 포함하는 set을 생성하는 코드를 작성하세요.

In [2]:
a = set(range(1,100,2))
print(a)

{1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99}

### 3번   
중첩 루프를 사용하여 구구단을 모두 출력하는 코드를 작성하세요

In [3]:
for i in range(2,10):
    for j in range(1,10):
        print(f'{i}*{j} = {i*j}')

2*1 = 2
2*2 = 4
2*3 = 6
2*4 = 8
2*5 = 10
2*6 = 12
2*7 = 14
2*8 = 16
2*9 = 18
3*1 = 3
3*2 = 6
3*3 = 9
3*4 = 12
3*5 = 15
3*6 = 18
3*7 = 21
3*8 = 24
3*9 = 27
4*1 = 4
4*2 = 8
4*3 = 12
4*4 = 16
4*5 = 20
4*6 = 24
4*7 = 28
4*8 = 32
4*9 = 36
5*1 = 5
5*2 = 10
5*3 = 15
5*4 = 20
5*5 = 25
5*6 = 30
5*7 = 35
5*8 = 40
5*9 = 45
6*1 = 6
6*2 = 12
6*3 = 18
6*4 = 24
6*5 = 30
6*6 = 36
6*7 = 42
6*8 = 48
6*9 = 54
7*1 = 7
7*2 = 14
7*3 = 21
7*4 = 28
7*5 = 35
7*6 = 42
7*7 = 49
7*8 = 56
7*9 = 63
8*1 = 8
8*2 = 16
8*3 = 24
8*4 = 32
8*5 = 40
8*6 = 48
8*7 = 56
8*8 = 64
8*9 = 72
9*1 = 9
9*2 = 18
9*3 = 27
9*4 = 36
9*5 = 45
9*6 = 54
9*7 = 63
9*8 = 72
9*9 = 81

### 4번   
'test.txt'라는 파일을 생성하고, 해당 파일에 문자열 'Hello, Python!'을 쓰는 코드를 작성하세요.

In [4]:
with open('test.txt','w') as file:
    file.writelines("'Hello, Pyhton!'")

### 5번   
주어진 숫자가 소수인지 판별하는 함수를 작성하세요.   
주어진 숫자 17,15

In [5]:
def sosu(a):
    b = set()
    for i in range(2,a):
        if a%i == 0:
            b.add(False)
        else:
            b.add(True)

    if False in b:
        return('False')
    else:
        return('True')

In [6]:
a = int(input())
print('False' if any(a % i == 0 for i in range(2, a)) else 'True')

False

### 6번   
재귀호출을 이용해 피보나치 수열의 n번째 항을 반환하는 함수를 작성하세요.   
(단, n은 1이상이며, 첫 번째 항과 두 번째 항은 모두 1입니다.)   
피보나치 수열   
1 1 2 3 5 8 13 21...

In [2]:
def fibonacci_number(a):
    number_list = [1,1]
    for i in range(0,a):
        next_number = number_list[i] + number_list[i+1]
        number_list.append(next_number)
        print(number_list)
    return number_list[a-1]
c = int(input())
print(fibonacci_number(c))

[1, 1, 2]
[1, 1, 2, 3]
[1, 1, 2, 3, 5]
[1, 1, 2, 3, 5, 8]
[1, 1, 2, 3, 5, 8, 13]
5

### 7번   
'Student’라는 클래스를 생성하고, 이 클래스가 학번(id), 이름(name), 나이(age), 전화번호(tel), 주소(address)   
라는 속성을 가지도록 코드를 작성하세요. 테스트코드는 임의로 작성하여 작동여부를 테스트함.

In [8]:
class Student:
    def __init__(self, id, name, age, tel, address):
        self.id = id
        self.name = name
        self.age = age
        self.tel = tel
        self.address = address
    

   

maria = Student(3948902,'마리아', 20, 12345678,'여수 어딘가')


print("id : ",maria.id)
print("이름 : ",maria.name)
print("나이 : ",maria.age)
print("전화번호 :",maria.tel)
print("주소 : ",maria.address)

id :  3948902
이름 :  마리아
나이 :  20
전화번호 : 12345678
주소 :  여수 어딘가

### 8번   
리스트의 중복된 요소를 제거하여 반환하는 함수를 작성하세요. 이때, set을 사용하세요.

In [9]:
a = [1,2,3,4,5,3,2,1]
b = set()
for i in a:
    b.add(i)

c = list(b)
print(c)

[1, 2, 3, 4, 5]

### 9번   
파일에서 특정 문자열을 찾아 다른 문자열로 바꾸는 함수를 작성하세요.

In [2]:
def replace_text(name,old, new):
    with open(name, 'r') as file:
        content = file.read()

    text = content.replace(old, new)

    with open(name, 'w') as file:
        file.write(text)
name = 'test.txt'
old = 'Hello'
new = 'Hi'
replace_text(name, old, new)

### 10번   
중첩 루프를 사용하여 별(*)로 피라미드를 출력하는 코드를 작성하세요

In [11]:
for i in range(5):  
    for j in range(5 - i - 1):  
        print(" ", end="")
    for k in range(2 * i + 1):  
        print("*", end="")
    
    print()

    *
   ***
  *****
 *******
*********

In [ ]:
print('\n'.join([' '*(5-i-1)+'*'*(i*2+1) for i in range(5)]))

### 11번   
정수를 입력받아 그 수의 팩토리얼을 재귀 함수로 계산하는 코드를 작성하세요

In [12]:
fac = lambda a: a * fac(a - 1) if a > 1 else 1

print(fac(5))

120

### 12번   
위의 'Student'라는 클래스를 변형하여, 'Person' 클래스를 상속받도록 코드를 작성하세요.   
‘Person’과 ‘Student’가 가질 속성을 의미를 고려하여 나눌것

In [13]:
class Person:
    def __init__(self, name, age, tel, address):
        self.name = name
        self.age = age
        self.tel = tel
        self.address = address

class Student(Person):
    def __init__(self, id, name, age, tel, address):
        super().__init__(name, age, tel, address)
        self.id = id


maria = Student(3948902,'마리아', 20, 12345678,'여수 어딘가')


print("id : ",maria.id)
print("이름 : ",maria.name)
print("나이 : ",maria.age)
print("전화번호 :",maria.tel)
print("주소 : ",maria.address)

id :  3948902
이름 :  마리아
나이 :  20
전화번호 : 12345678
주소 :  여수 어딘가

### 13번   
주어진 딕셔너리의 키만 리스트로 반환하는 함수를 작성하세요.

In [14]:
def get_keys(dictionary):
    return list(dictionary.keys())

my_dict = {'apple': '사과', 'banana': '바나나', 'cherry': '체리'}
keys_list = get_keys(my_dict)
print(keys_list)

['apple', 'banana', 'cherry']

### 14번   
임의의 텍스트 파일 (뉴스나 인터넷 기사를 copy & paste)의 모든 라인을 읽어,   
각 라인에 포함된 unique한 단어의 개수를 출력하는 코드를 작성하세요.

In [6]:
with open('file.txt','r',encoding='utf-8') as file: #파일을 열어서 file로 정의를 함
    a = file.read() #텍스트를 읽어서 a 변수에 저장
    b = set() #set 생성
    unique_word = '상어'#유니크 단어를 상어로 설정
    for i in range(len(a)): #len을 이용해서 단어의 개수를 샘 for 문은 알지?
        b.add(a.find(unique_word,i))#find 함수를 이용해서 
#set으로 저장하는 이유는 find 특성때문에 set쓴거임 set은 저장할때 중복을 저장을 안하기 때문에 이용 
#find는 index기준 가장가까운 다음 단어를 찾기 때문에 유니크 단어를 넘어가야 다음 유니크 단어 위치를 찾음
    b.remove(-1)#find는 더이상 찾을 단어가 없으면 -1을 출력하기 때문에 이를 없애주기 위함
    print(f'unique단어 : {unique_word}',len(b))
    print(b)

unique단어 : 상어 3
{154, 21, 127}

In [7]:
with open('file.txt', 'r', encoding='utf-8') as file:
    a = file.read()
    unique_word = '상어'
    b = set(a.find(unique_word, i) for i in range(len(a)) if a.find(unique_word, i) != -1)
    print(b)

{154, 21, 127}

### 15번   
2차원 리스트를 입력 받아 (혹은 랜덤으로 생성하여),   
리스트의 각 요소들을 순회하며 출력하는 함수를 작성하세요. 중첩 루프를 사용하세요.

In [16]:
def print_2d_list(a):
    for i in a: #2차원 리스트에서  
        for j in i:
            print(j, end=' ')
        print()
        
a = [[4, 3,6 ], [1, 6, 4], [8, 6, 9]]
print_2d_list(a)

4 3 6
1 6 4
8 6 9

### 16번
재귀호출을 사용하여 주어진 문자열을 거꾸로 뒤집는 함수를 작성하세요.

In [17]:
def reverse_text(s):
    reversed_s = s[::-1]
    return reversed_s



print(reverse_text("Hello"))
print(reverse_text("Python"))
print(reverse_text("OpenAI"))

olleH
nohtyP
IAnepO

### 17번
주어진 리스트에 대해 각 숫자의 출현 횟수를 딕셔너리로 반환하는 함수를 작성하세요

In [18]:
number_list = [1, 2, 2, 3, 3, 3, 4, 4, 4, 4]
number_set = set(number_list)
number_count = list()
number_key = list()
number_dic = dict()

for i in range(len(number_set)):
    b = number_set.pop()
    number_count.append(number_list.count(b))
    number_key.append(i + 1)

for j in range(len(number_key)):
    number_dic[number_key[j]] = number_count[j]

print(number_dic)

{1: 1, 2: 2, 3: 3, 4: 4}

In [19]:
s = list(set())