In [ ]:
x = int(input())
if x >= 10:
    print("10 이상입니다.")
    if x == 15:
        print("15입니다.")
    if x == 20:
        print("20입니다.")

In [ ]:
x = 5
if x ==10:
    print('10입니다.')
else:
    print('10이 아닙니다.')

In [ ]:
x = 10
y = 20

if x == 10 and y == 20:
    print('참')
else:
    print('거짓')

In [ ]:
x = int(input('숫자를 입력해주세요 : '))
if x > 0 and x < 20:
    print('0부터 20 사이입니다')
else:
    print('아닙니다.')

In [ ]:
x = int(input('숫자를 입력해주세요 : '))
if 0 < x < 20:
    print('0부터 20 사이입니다')
else:
    print('아닙니다.')

In [ ]:
x = int(input('성적을 입력해주세요 : '))
if 100>= x > 90:
    print('당신의 성적은 A 입니다')
elif 90 >= x > 80:
    print('당신의 성적은 B 입니다')
elif 80 >= x > 70:
    print('당신의 성적은 C 입니다')
elif 70 >= x > 60:
    print('당신의 성적은 D 입니다')
else:
    print('낙제!')

In [ ]:
for a in range (100,0):
    print("hello world!",a)

In [ ]:
for i in range(100,0,-2):
    print("Hello World!",i)

In [ ]:
for i in [0,1,2,3,4]:
    print("Hello World!")

In [ ]:
for i in reversed(range(10)):
    print('Hello World!',i)

In [ ]:
count = int(input('숫자를 입력해주세요 : '))

for i in range(count):
    print('안녕하세요 '+str(i)+'번')

In [ ]:
for letter in 'python':
    print(letter, end=' ')

In [ ]:
s = """iOS의 기본 앱인 Apple 지갑을 통해 사용한다. 최초 사용 시 iTunes Store에 등록된 신용 카드의 CVC를 입력하면 기본 결제 카드로 Wallet에 등록된다. 그 외 카드를 추가하려면 사용자는 카메라로 신용카드를 비추어 iOS가 알아서 또는 사람이 자신의 신용카드 정보를 Apple Wallet에 입력하여 등록한다. 카드 등록 시 해당 카드 발급사의 서버에 정보를 보내어 해당 카드가 도난당한 카드는 아닌지, iTunes Store에 등록된 사용자 정보와 카드 소유주 정보가 일치하는지 등을 검증하는 과정을 거친다.
온라인: 개발자가 Apple Pay API를 사용하여 앱 내 결제(IAP; In-App Purchase)에서 다른 지불방식(신용 카드 정보의 수기입력)과 함께 택할 수 있다. 사용자는 앱 내 결제 시 Apple Pay로 결제하는 방법을 선택하면 Touch ID 또는 Face ID 인증을 요청하는 인터페이스가 뜨며 지문 인식 또는 얼굴 인식을 하면 결제가 진행된다.
오프라인: NFC 단말기가 활성화 되어있고 Apple Pay에 가맹된 사업체에서만 지불/결제가 가능하다. 결제 시 직원에게 Apple Pay로 결제할 것을 알려주고 iPhone을 NFC 단말 근처에 가져갈 경우 Wallet 화면과 함께 Touch ID 및 Face ID 인증을 요청하는 인터페이스가 뜨며 지문 인식 또는 얼굴 인식을 하면 결제가 진행된다.[14] Tech review: Samsung Pay vs. Apple Pay

NFC를 미탑재한 iPhone은 Apple Watch를 통해서만 오프라인에서 Apple Pay 이용이 가능하다. iPhone 5와 iPhone 5s, 그리고 iPhone 5c가 이에 해당. 상위 기종은 Suica를 제외하고 iPhone과 Apple Watch에서 동시 사용 가능.

통신 자체는 NFC 기반 근거리 무선통신을 이용한다. 다만 개인정보를 처리하는 과정에서 다른 서비스들과 차이점이 있는데, 첫째로 단말기 내에는 카드번호나 CVC 번호가 저장되지 않는다. 단말기는 오직 카드사로부터 받은 카드 정보에 대한 토큰만 가지고 결제를 진행한다. 둘째로 결제 시 NFC 단말에 전송하는 것은 카드 정보가 아니라 다이나믹 코드를 활용한 일회성 사용 코드. 또한, Apple은 결제 시 트랜잭션에 대한 정보를 전혀 수집하지 않기 때문에 사용자가 어디에서 언제 무얼 샀는지에 대해서 전혀 모르도록 설계되었다고 한다. 덕분에 등록할 때를 제외하고 결제 시에는 어떠한 데이터 통신도 필요없다. 이에 대해서 통신없이 결제가 가능하기 때문에 분실 시 대책이 없다고도 생각할 수도 있는데 이에 대해서는 하단의 '보안' 문단에서 후술.

해외판 삼성페이의 EMV 결제모드에서만 지원되는 것과는 달리 국내판 삼성페이에서는 반드시 데이터 통신을 통해야만 결제가 가능케 하도록 한 삼성 페이와는 차별화 된 부분.

한국에서 사용하는 삼성 페이와 비교했을 때 가장 큰 단점은 NFC 통신만을 통해 결제를 하기 때문에 삼성 페이만큼의 호환성은 자랑할 수 없다. 이 문제는 RFID 비접촉 결제가 대중화된 유럽, 호주, 뉴질랜드, 캐나다 같은 곳에서는 별로 중요하지 않지만, 한국처럼 접촉식 IC 방식만 보급화한 곳에서는 Apple Pay를 모든 곳에서 쓸 수 없다. Apple Pay를 사용할 수 있는 단말기의 유형은 여기에서 확인할 수 있다.""".split(" ")

cnt = 0
for token in s:

    if token.startswith('iPhone'):
        cnt +=1
        print('현재토큰:', token, cnt)
print('\n 총 iphone의 출현 횟수', cnt)

In [ ]:
i = 1000
count = 1
while i > 0:
    print(('금오공대'),i,count)
    count+=1
    i += -10
print(str(count),'번 반복함.')

In [ ]:
import random
import time
i = 0
p = 0
while True:
    a = random.randint(1,100)
    p +=1
    print(str(a),str(p),"번 시도")
    time.sleep(0.1)
    if a ==6:
        break

In [ ]:
for i in range (1000):
    if i % 100 == 0:
        continue
    print(i)

In [ ]:
i = 0
while i < 100:
    i += 1
    if i % 2 == 0:
        continue
    print(i)

In [ ]:
for i in range(100):
    if i % 2 ==0:
        continue
    print(i)

In [ ]:
a = [1,2,3,4,5,6,7,8,9,10]
print(a)

In [ ]:
b =[1,2,3,4,5,4,5,3,5,7,4,7,8,34,'가나다라',6,7]
b

In [ ]:
for k in b:
    print(k)

In [ ]:
x = []
y = list()

In [ ]:
for k in a:
    x.append(k)
x

In [ ]:
k = list(range(-5,5,1))
k

In [ ]:
l = [tuple(range(1,65))]
l

In [ ]:
a = [0,10,20,30,40,50,60,70,80,90]
30 in a

In [ ]:
a = [1,2,3,4,5,6,7,8]
b = [9,34,34,45,56,678,789,23]
a+b

In [ ]:
len('hello world')

In [ ]:
print(a[-2])
print(b[-8])

In [ ]:

for i in range(-6,-1,1):
    print(a[i])

In [ ]:
hello = 'hello i am iphone 14 pro'

In [ ]:
for i in range(-1,-len(hello)-1,-1):
    print(hello[i])

In [ ]:
news = """The U.S. Commerce Department announced Tuesday that it will limit recipients of Chips and Science Act funding from investing in the expansion of semiconductor manufacturing in the "foreign countries of concern" including China and Russia. But the limit was not an outright ban on investment in China since the department allows the recipient firms to expand production capacity by 5 percent for advanced chips and 10 percent for those made with relatively old manufacturing processes."""

In [ ]:
for i in range(len(news))[:100]:
    print(news[i])

In [ ]:
a = [0,0,0,0,0]
a[0] =38
a[1] =39
a[2] =40

In [ ]:
a

In [ ]:
c = []
c =a[0:5]

In [ ]:
i = 0
g = [0,0,0,0,0,0,0,0,0,0]
for i in range(0,10):
    g[i] = input('아무거나 입력해주세요')
print(g)
g [3:5] = '가'
print(g)

In [ ]:
my_list = [1,2,3,4,5]
my_tuple = (1,2,3,4,5)

In [ ]:
my_list[5:7] = 6,7,8
my_list

In [ ]:
tuple1 = (1,2,3)
tuple2 = (4,5,6)
combined_tuple = tuple1 + tuple2
sliced_tuple = combined_tuple[1:4]
sliced_tuple

In [ ]:
even_numbers = [x for x in range(10) if x % 2 == 0]
even_numbers

In [ ]:
my_tuple = (3,54,67,45,2,5,90)
max_value = max(my_tuple)
min_value = min(my_tuple)
print(max_value)
print(min_value)

In [ ]:
my_list = [1,2,3,4,5]
unique_list = list(set(my_list))
unique_list

In [ ]:
unique_tuple = tuple(unique_list)
unique_tuple

In [ ]:
a,b,c,d,e = unique_tuple
a,b,c,d,e

In [ ]:
a = [10,20,30]
a.insert(2,500)
a

In [ ]:
b = [1,2,3,4,5,6,7]
b.extend([1,10])
b

In [ ]:
b.pop()
b
#이거는 무조건 낸다고 함 주의!
#del = pop

In [ ]:
a = [10,20,30,40,50,60,70,80,90,100]
a.remove(20)#맨 앞에있는 20 삭제

In [ ]:
d = [120,20,20,20,20,20,20,20,20,20,20,20,20,100,102,20,204,23034,45,64506,56]
d.count(20)

In [ ]:
a.reverse()#반대로 뒤집음
a.sort()#오름차순 정렬
a.sort(reverse=True)#내림차순
a.clear()#리스트 비우기
del a [:]#모두지우기

In [ ]:
a= [10,20,30,]
a[len(a):]=[500,600]
a

In [ ]:
a = [0,0,0,0,0,0]
b = a.copy()

In [ ]:
b

In [ ]:
a is b

In [ ]:
a ==b

In [ ]:
b[2] = 99
a

In [ ]:
b

In [ ]:
a=b.copy()#이것도 시험!

In [ ]:

for i in a:
    print(i)

In [ ]:
a = [38,21,53,62,19]
i = 0
while i < len(a):
    print(a[i])
    i+= 1

In [ ]:
a = [38,21,53,62,19]
i = 0
while i <= len(a):
    print(a[i])
    i+= 1

In [ ]:
a = [38,21,53,62,19]
smallest = a[0]
for i in a:
    if i < smallest:
        smallest = i
        print(smallest)
smallest

In [ ]:
a = [38,21,53,62,19]
a.sort(reverse=True)
a[0]

In [ ]:
a = [i for i in ()]
b = list(i for i in range(1,21,2))
b

In [ ]:
a = [j *i for j in range(2,10) for i in range(1,10)]
a

In [4]:
a = [1.2,2.5,4.5,6.7,8.9]
for i in range(len(a)):
    a[i] = int(a[i])
a

[1, 2, 4, 6, 8]

In [6]:
a = [1.2,2.5,4.5,6.7,8.9]
a = list(map(int,a))
a

[1, 2, 4, 6, 8]

In [8]:
a = input().split()

In [11]:
c =  map(int, input().split())
c

In [12]:
x = input().split()

In [13]:
m = map(int, x)
a,b,c = m

In [14]:
m

In [15]:
a,b,c

(3, 5, 10)

In [16]:
a = (1.2,2.5,3.7,4.6)
a = tuple(map(int,a))
,,a

(1, 2, 3, 4)

In [17]:
cities = ['new york','los angeles','chicago','houston','phoneix']
populations = [8405837, 3884307, 2718782, 2195914, 1513367]

In [32]:
cities = ['new york','los angeles','chicago','houston','phoneix']
populations = [8405837, 3884307, 2718782, 2195914, 1513367]
for cities,populations in zip(cities, populations):
    print(cities,populations)
sorted_city = sorted(cities)

new york 8405837
los angeles 3884307
chicago 2718782
houston 2195914
phoneix 1513367

In [25]:
for cities, populations in zip(cities, populations):
    print(f'cities'f'populations')

TypeError: 'int' object is not iterable

In [33]:
for i in range(len(sorted_city)):
    p_index = cities.index(sorted_city[i])
    print('도시',sorted_city[i],'인구수',populations[p_index])

TypeError: 'int' object is not subscriptable

In [34]:
text = 'The quick brown for jumps over the lazy dog'
words = text.split()
word_counts = len(words)

print(f'단어개수: {word_counts}')

단어개수: 9

In [38]:
unique_words_list = list(set(words))
unique_words_list

['brown', 'The', 'over', 'jumps', 'dog', 'for', 'the', 'lazy', 'quick']

In [49]:

for word in unique_words_list:
    words.count(unique_words_list)
    print('단어 :', word, "개수 : ",)

단어 : brown 개수 :
단어 : The 개수 :
단어 : over 개수 :
단어 : jumps 개수 :
단어 : dog 개수 :
단어 : for 개수 :
단어 : the 개수 :
단어 : lazy 개수 :
단어 : quick 개수 :